@page "/"

<body>
    <h1>Batalha Naval Peer-to-Peer</h1>
    <form>
        <label>IP:</label>
        <input type="text"><br><br>
        <label>Porta:</label>
        <input type="text"><br><br>
        <input type="submit" value="Conectar">
    </form>
</body>


